[Desktop Entry]
Categories=System
Exec=gxde-timer
Icon=gxde-timer
Name=GXDE timer
Name[zh_CN]=GXDE 定时器
StartupNotify=true
Terminal=false
Type=Application